<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nbow.texteditor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity
            android:name="com.nbow.texteditor.FormatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            >

        </activity>


        <activity
            android:name="com.nbow.texteditor.WebViewActivity"
            android:exported="true"
            android:parentActivityName="com.nbow.texteditor.MainActivity" />
        <activity
            android:name="com.nbow.texteditor.SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name="com.nbow.texteditor.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/java" />
                <data android:mimeType="application/sql" />
                <data android:mimeType="application/php" />
                <data android:mimeType="application/x-php" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/x-tcl" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="com.nbow.texteditor.SettingActivity"
            android:parentActivityName="com.nbow.texteditor.MainActivity" />
        <activity
            android:name="com.nbow.texteditor.RecyclerViewActivity"
            android:parentActivityName="com.nbow.texteditor.MainActivity" />
    </application>

</manifest>